.Africa_goods{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}
.b_a{
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 0);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 40px;

}
.a-1{
    width: 300px;
    height: 500px;
}
.img_a img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}
.price{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;

}
.about_product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.rub{
    font-size: 25px;
    font-weight: bold;
}
.nane{
    font: 20px;
    font-weight: 600;
}
.a_g1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}
.afrh2{
    font-size: 40px;
    margin-bottom: 40px;
}
.item_sale-p-red{
    color: rgb(255, 0, 55);
    font-size: 15px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .4px;
    line-height: 24px;
}
.item_sale-p-grey{
    color: #8B8B8B;
    text-decoration: line-through;
    font-size: 20px;
}